<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 primeraparte">
            <h1>Ilustraciones digitales</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi suscipit dicta harum. Officiis nihil quibusdam deserunt harum tempore perspiciatis error! Laboriosam nisi molestiae laudantium odit saepe voluptas voluptatibus quaerat porro!</p>
        </div>
        <div class="col-sm-12 col-md-3 col-md-3 offset-md-1 offset-lg-1 segundaparte">
            <img src="">
        </div>

    </div>


</div>
