<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1><b>Secundario:</b> Gymnasium UNT </h1> - <h3>(years)</h3>
                <h2> Titulo: Bachiller Superior Humanista</h2>
                <h2> Promedio:7.14</h2>
            </li>
            <li> 
                <h1><b>Nivel Universitario:</b> Facultad de Bioquimica, Quimica y Farmacia</h1>
                <h2> Actualmente estudiante de 4° año de la Licenciatura de Biotecnologia</h2>
            </li>
            <li>
                <h1><b>Otras formaciones:</b></h1>
                <h2> -imaginario sexual y transexualidad</h2>
                <h2> -formacion en genero y abordaje de violencias</h2>
            </li>

        </ul>

    </div>

</div>
