<div class="row">
    <h1>Mi experiencia laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1> Refuerzo para la venta de temporada en Paco Garcia</h1> - <h3>(years)</h3>
                </li>
            <li>
                <h1> Agregado de la catedra de fisica I</h1> - <h3>(years)</h3>
            </li>
            <li>
                <h1> Pasante de la secretaria gral de Posgrado de la UNT</h1> - <h3>(years)</h3>
            </li>
        </ul>


    </div>

</div>
